/arrays.js
/Arrowfunction.js
/create.html
/datatypes.js
/date and time
/DOM.JS
/functions.js
/index.html
/index.js
/logicbuilding.js
/mapfilter.js
/Number.js
/objects.js
/scope.js
/Strings
/tempCodeRunnerFile.js